
#Statistics{
    display: flex;
    flex-direction: column;
}

#MostBookedRoomComponent{
    margin-bottom: 10px;
    padding: 20px;
}

#line{
    width: 90% !important;
    max-height: 1000px !important;
    align-self: center;
}


.Graphs{
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Graphs .selectGraphRange .CAxButton{
    padding: 1vh;
    margin-left: 5px;
}

.Graphs .navigate .CAxButton{
    padding: 0.5vw;
    margin-left: 10px;
    margin-right: 10px;
}


.Graphs .selectGraphRange{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.Graphs .navigate{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Graphs .graph{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.otherStats{
    grid-area: "others";
}

.CurrentGraphsStats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.statOfGraph{
    padding: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;

    align-items: center;
    display: flex;
    flex-direction: column;
}

.statOfGraph :first-child{
    font-weight: bold;
    border-bottom: 1px;
}

.statOfGraph hr{
    width: 80%;
    margin: 0%;

}



