#userGuideContent , #adminGuideContent {
    width: 50vw;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
}
#UserGuide, #adminGuide {
    display: flex;
    flex-direction: column;
}

#adminGuide{
    margin-top: 40px;
}


.warn{
    font-weight: bold;    
}

#userGuideContent h2{
    text-decoration: underline;
}

.markdown-body code, .markdown-body tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #eff1f3;
    border-radius: 6px;
}