body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: calc(10px + 2vmin);
    color: #595850;
    margin: 2vw;
}

.pc {
    transition: all .5s ease;
}

#RoomLayout {
    margin: 25px;
    margin-right: 25px;
    padding: 0;
}

#roomName {
    margin-top: 0;
    margin-right: 10vw;
    font-weight: bold;
    text-decoration: underline;
}

.timeSpan p {
    margin-top: 0;
}

.roomLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vw;
}

.pc:hover {
    transform: scale(1.1);
}