body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: calc(10px + 2vmin);
    color: #595850;
    margin: 2vw;
}

.pc {
    transition: all .5s ease;
    
}

.pc:hover {
    transform: scale(1.1);
}


