#userGuideContent {
    width: 50vw;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

#UserGuide {
    display: flex;
    flex-direction: column;
}

.warn{
    font-weight: bold;    
}

#userGuideContent h2{
    text-decoration: underline;
}