.Bookings {
    margin-right: 2vw;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.Booking a {
    display: block;
}

.Booking {
    cursor: pointer;
}

.status2 {
    background-color: #B6E5A5 !important;
}