.MainPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "booking time time time"
    "booking room room room"
    "booking room room room";
  margin: 2vw;
}

.Header {
  grid-area: header;
  clear: both;
}

.Bookings {
  grid-area: booking;
  clear: both;
}


.TimeSpan {
  grid-area: time;
  clear: both;
}

.RoomDisplay {
  grid-area: room;
}