html body {
    height: 100%;
    width: 100%;
    padding : 0;
    margin:0;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login-container h1 {
    font-size: 3.236245954692557vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-self: flex-start;
    position: relative;
    left: 63vh;
    top: -10vh;
}

.container {
    /*make it flex*/
    display: flex;
    /*make it center*/
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 116.50485436893204vh;
    height: 97.0873786407767vh;
    background-color: white;
    border-radius: 10vh;

}

.textbox {

    width: 48.86731391585761vh;
    height: 9.385113268608414vh;
    border-radius: 9.870550161812298vh;
    border: 0.16181229773462782vh solid #595850;
    box-sizing: border-box;
    box-shadow: 0px 0.16181229773462782vh 2.750809061488673vh rgba(0, 0, 0, 0.25);
    margin-bottom: 14vh;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.883495145631068vh;
    line-height: 4.53074433656958vh;
    text-align: center;

    color: #B6B6B6;
}

.loginbutton {

    width: 48.86731391585761vh;
    height: 9.385113268608414vh;


    background: #D6001D;
    box-shadow: 0px 0.16181229773462782vh 2.750809061488673vh rgba(0, 0, 0, 0.25);
    border-radius: 9.870550161812298vh;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.883495145631068vh;

    margin-bottom: 7vh;
    color: #FFFFFF;


}

form {
    display: flex;
    flex-direction: column;

    width: max-container;
    justify-content: space-around;
}

img {
    width: 34.627831715210355vh;
    height: 23.78640776699029vh;
    align-self: flex-start;
    position: relative;
    left: 5vh;
    top: 1.4vh;

}
